body {
    display: flex;
    font-family: Inter;
    max-width: 1440px;
    max-height: 1024px;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.logo {
    position: fixed;
    width: 120px;
    height: 48px;
    top: 40px;
    left: 40px;
    gap: 40px;
}

.texto {
    display: flex;
    position: fixed;
    width: 577px;
    height: 48px;
    top: 168px;
    left: 240px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

#texto {
    border: none;
    outline: none;
    resize: none;
    background: none;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

#texto::placeholder {
    color: #0A3871;
    opacity: 80%;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.terminos {
    display: flex;
    position: fixed;
    width: 230px;
    height: 18px;
    gap: 8px;
    top: 851px;
    left: 240px;
    font-size: 12px;
    line-height: 18px;
    opacity: 80%;
    color: #495057;
    font-weight: 400;
}

#exl {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.botones {
    display: inline-flex;
    position: fixed;
    width: 680px;
    height: 67px;
    top: 885px;
    left: 240px;
    gap: 24px;
}

#encriptar {
    background: #0A3871;
    color: #D8DFE8;
    display: flex;
    width: 388px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    border: none;
}

#desencriptar {
    background: #D8DFE8;
    color: #0A3871;
    display: flex;
    width: 388px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
}

.imagen {
    background-color: #ffffff;
    box-shadow: 0px 24px 32px -8px #00000014;
    position: fixed;
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    border-radius: 32px;
}

#imagenreferencia {
    display: flex;
    position: fixed;
    width: 336px;
    height: 304px;
    top: 283px;
    left: 1032px;
}

.mensaje {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 336px;
    height: auto;
    top: 619px;
    left: 1032px;
    gap: 16px;
}

#titulomensaje {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

#parrafo {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.derechos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .texto {
        width: 80%;
        left: 0;
        text-align: center;
    }

    .terminos {
        width: 80%;
        left: 0;
        text-align: center;
    }

    .botones {
        width: 80%;
        left: 0;
        text-align: center;
    }

    .imagen {
        width: 80%;
        left: 0;
        border-radius: 0;
    }

    .mensaje {
        width: 80%;
        left: 0;
        text-align: center;
    }
}